@import 'normalize';
@import 'variables-site/variables-site';
@import 'mixins/mixins-master';
@import 'modules/accessibility';
@import 'modules/responsive-utilities';
@import 'elements/elements';
@import 'typography/critical';
@import 'header/critical';
@import 'navigation/critical';
@import 'footer/critical';
@import 'blog/primary/post-meta';
@import 'blog/primary/post-thumb';

#page {
	background: $color__background-page;
}

.site-content,
.wrap {
	max-width: $size__content-width;
	padding-left: $padding__content-mobile;
	padding-right: $padding__content-mobile;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		padding-left: $padding__content-tablet;
		padding-right: $padding__content-tablet;
	}

	@media screen and (min-width: $size__content-width + $padding__content-tablet * 2) {
		padding-left: 0;
		padding-right: 0;
	}
}

.wrap:after {
	@include clearfix();
	@include clearfix-after();
}

.single-post {

	.site-content {
		max-width: $size__text-width;
	}

	.post__header {
		margin-top: 30px;
	
		.post__title {
			margin: 10px 0 20px;
		}
	
		.post__meta {
			@include font-size(.9);
		}

		.post__summary {
			@include font-size(1.15);
			color: #888;
			border-top: 1px solid $color__background-hr;
			margin-top: 20px;
		}
	}
}

.blog.page-title {
	position: relative;

	&:before {
		display: block;
		background-color: transparent;
		background-image: linear-gradient(to right, $color__background-hr 50px,transparent 50px,transparent 90px, $color__background-hr 90px);
		background-position: -90px 0;
		background-repeat: repeat-x;
		background-size: calc(50% + 20px);
		width: 234px;
		max-width: none;
		height: 1px;
		border: none;
		margin-left: 0;
		margin-right: auto;
	}

	&:after {
		@include icon-content('\e927');
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color__background-hr;
	}
}

.posts-list {
	margin: 0 0 30px;

	@media screen and (min-width: breakpoint('phone')) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 20px;
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 20px;
	}
}

.single-post .site-content {
	max-width: $size__text-width;
}

.filter-list {
	padding: 0;
	margin: 30px 0;

	&:after {
		@include clearfix();
		@include clearfix-after();
	}

	li {
		margin: 0;
		float: left;

		&:before {
			display: none;
		}

		&.current-cat a {
			background: $color__corporate;
			cursor: default;

			&:hover {
				background: $color__corporate;
			}
		}

		a {
			@include font-size(.9);
			text-transform: uppercase;
			text-decoration: none;
		}

		&:after {
			content: "/";
			color: $color__background-hr;
			margin: 0 6px;
		}

		&:last-of-type:after {
			display: none;
		}
	}
}