@import "shop/shop-variables";
@import "mixins/mixins-master";
@import "normalize";
@import "typography/typography";
@import "shop/components";
@import "course/course-preview";

#primary {
	width: 100%;
}

h2 {
	@include font-size(1.5);
}

h3 {
	@include font-size(1.2);
}

mark {
	background: none;
	font-weight: bold;
}

.woocommerce {

	&:after {
		@include clearfix();
		@include clearfix-after();
	}
}

.woocommerce-form-login,
.lost_reset_password {
	max-width: 600px;
	margin: 20px 0 50px;
}

.woocommerce-form-login {

	a {
		text-decoration: none;
	}

	.woocommerce-form-login__rememberme {
		display: block;
		margin-bottom: 20px;
	}
}

table {
	border-top: none;

	tr:nth-of-type(even) {
		background: rgba(0,0,0,.02);
	}

	@media screen and (min-width: breakpoint('tablet-portrait')) {

		tr:nth-of-type(even) {
			background: none;
		}
	}
}

/*--------------------------------------------------------------
# Addresses
--------------------------------------------------------------*/
.addresses {

	h3 {
		margin-bottom: 10px;
	}

	.edit {
		@include font-size(.85);
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			@include icon-content('\e91d');
			@include font-size(.8);
			font-weight: normal;
			margin-right: 5px;
		}
	}

	address {
		font-style: italic;
	}
}

.woocommerce-address-fields {

	@media screen and (max-width: breakpoint('tablet-landscape'))
	and (min-width: breakpoint('tablet-portrait')), (min-width: breakpoint('desktop')) {

		[id*="first_name_field"],
		[id*="last_name_field"],
		[id*="email_field"],
		[id*="phone_field"],
		[id*="postcode_field"],
		[id*="city_field"] {
			width: 49%;
			float: left;
		}

		[id*="first_name_field"],
		[id*="email_field"],
		[id*="postcode_field"] {
			margin-right: 2%;
		}
	}

	button[type="submit"] {
		margin-top: 20px;
	}
}

/*--------------------------------------------------------------
# Account details
--------------------------------------------------------------*/
.edit-account {

	fieldset {
		background: #f5f5f5;
		border: none;
		position: relative;
		padding-top: 50px;

		@media screen and (min-width: breakpoint('tablet-portrait')) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	legend {
		@include font-size(1.2);
		position: absolute;
		top: 20px;
		font-weight: bold;
	}

	span em {
		@include font-size(.8);
		font-style: normal;
	}

	@media screen and (max-width: breakpoint('tablet-landscape'))
	and (min-width: breakpoint('tablet-portrait')), (min-width: breakpoint('desktop')) {

		.form-row-first,
		.form-row-last {
			width: 49%;
			float: left;
		}

		.form-row-first {
			margin-right: 2%;
		}
	}
}

.woocommerce-MyAccount-navigation {

	ul li {

		&:before {
			display: none;
		}
	
		&.is-active a:after {
			opacity: 1;
		}
	
		&.woocommerce-MyAccount-navigation-link--dashboard a:after {
			@include icon-content('\e915');
		}
	
		&.woocommerce-MyAccount-navigation-link--orders a:after {
			@include icon-content('\e918');
		}
	
		&.woocommerce-MyAccount-navigation-link--downloads a:after {
			@include icon-content('\e916');
		}
	
		&.woocommerce-MyAccount-navigation-link--edit-address a:after {
			@include icon-content('\e914');
		}
	
		&.woocommerce-MyAccount-navigation-link--edit-account a:after {
			@include icon-content('\e913');
		}
	
		&.woocommerce-MyAccount-navigation-link--customer-logout a:after {
			@include icon-content('\e917');
		}
	}
}