.site-footer {
	@include font-size(.9);
	background-color: $color__background-footer;
	clear: both;
	color: #fff;

	img {
		margin-bottom: 10px;

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			height: calc(1.1rem + 30px);
			margin-top: -15px;
			width: auto;
			object-fit: contain;
			object-position: bottom;
		}
	}

	p {
		margin: 0;
	}

	a {
		color: #fff;
	}

	ul {
		padding-left: 0;
		margin: 0;
		
		li {
			margin-bottom: 0;

			&:before {
				display: none;
			}
		}
	}
	
	.wrap {
		padding-top: 50px;
		padding-bottom: 50px;

		@media screen and (min-width: breakpoint('tablet-landscape')) {
			display: flex;
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
}

.site-footer__widgets {
	display: flex;
}

.site-footer__widgets,
.footer-section {

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		flex-grow: 1;
	}
}

.footer-section {
	padding: 20px 0;

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		flex-basis: 25%;
		flex-grow: 1;
		padding: 0 15px;
		border-bottom: none;
	}
}

.footer-section__title {
	@include font-size(1.1);
	margin: 0 0 15px;
	padding-bottom: 15px;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,.3);
	text-transform: uppercase;
	display: flex;

	&:before {
		margin-right: 10px;

		#contacts & {
			@include icon-content('\e930');
		}
		
		#opening-hours & {
			@include icon-content('\e902');
		}
		
		#address & {
			@include icon-content('\e93d');
		}
	}
}

.widget-title.footer-section__title {
	@include font-size(1.1);
}

.sub-footer {
	@include font-size(.8);
	background-color: $color__background-sub-footer;
	text-align: center;
	padding: 10px $padding__content-mobile;

	dl, dd, dt {
		margin: 0;
	}

	dd, dt {
		display: inline;
	}

	dd {

		&:after {
			content: "|";
			margin: 0 2px 0 5px;
			color:rgba(255,255,255,.3);
		}

		&:last-of-type:after {
			display: none;
		}
	}
}
