@import 'variables-site/variables-site';
@import 'mixins/mixins-master';

.woocommerce-account .page__content > .woocommerce {

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.secondary-navigation__toggle {

	@media screen and (min-width: breakpoint('tablet-landscape')) {
		display: none;
	}
}

.woocommerce-MyAccount-navigation,
.secondary-navigation {

	ul {
		padding-left: 0;
		margin: 0;

		li {
			border-top: 1px solid #f5f5f5;
			margin-bottom: 0;
			padding: 15px 0;

			&:last-of-type {
				border-bottom: 1px solid #f5f5f5;
			}

			a {
				text-decoration: none;

				&:after {
					@include font-size(1.1);
					float: right;
					font-weight: normal;
					opacity: .4;
				}
			}

			&:before {
				display: none;
			}
		}
	}
}