/*--------------------------------------------------------------
# Header Cart
--------------------------------------------------------------*/
.site-header-cart {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	margin-left: 10px;

	li {
		margin: 0;

		&:before {
			display: none;
		}
	}

	.cart-contents {
		font-weight: 200;
		position: relative;
		text-indent: -9999px;
		text-decoration: none;
		display: block;
		border: none;
		width: 25px;
		height: 20px;
		color: #fff;

		&:before {
			@include icon-content("\e900");
			display: block;
			text-indent: 0;
			text-align: left;
			position: absolute;
			top: 0;
			right: 0;
			width: 25px;
			height: 20px;
		}

		.count {
			font-size: 10px;
			display: block;
			position: absolute;
			text-indent: 0;
			top: 0;
			right: 0;
			width: 11px;
			height: 11px;
			line-height: 11px;
			text-align: center;
			background: #fff;
			border-radius: 11px;
			color: #000;
			letter-spacing: -2px;
		}
	}

	@media screen and (min-width: breakpoint('tablet-landscape')) {

		&:hover div.widget_shopping_cart {
			display: block;
		}
	}
}

/*--------------------------------------------------------------
# Shopping Cart Widget
--------------------------------------------------------------*/
.widget.widget_shopping_cart {
	padding-top: 15px;
	color: $color__text-main;

	.woocommerce-mini-cart {
		padding: 0;
		margin: 0;
	}

	.mini_cart_item {
		border-bottom: 1px solid #f5f5f5;
		padding: 0 15px 15px 25px;
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		
		&:last-of-type {
			margin-bottom: 0;
		}

		a {
			text-decoration: none;
		}

		> a {
			position: static;
			display: block;
			line-height: 25px;
			line-height: normal;
		}

		.remove {
			position: absolute;
			left: 0;
			top: 0;
			text-indent: -999px;
			width: 20px;
			height: 20px;
			text-decoration: none;
			overflow: hidden;
			display: block;
			float: left;

			&:after {
				@include icon-content("\e91f");
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				text-indent: 0;
				position: absolute;
				top: 0;
				right: 0;
				line-height: 20px;
				font-weight: 400;
				color: #777;
			}
		}

		img {
			max-width: 30px;
			max-height: 30px;
			display: block;
			float: right;
			border-radius: 5px;
			object-fit: cover;
		}

		.quantity {
			display: block;
			line-height: normal;
			margin-top: 5px;
		}
	}

	.total {
		line-height: normal;
		margin: 20px 0;
	}

	.buttons {
		margin-bottom: 0;

		&:after {
			@include clearfix();
			@include clearfix-after();
		}

		a {
			@include font-size(.8);
			margin-bottom: 10px;
			display: block;
			width: auto;
			float: left;

			img {
				display: block;
				margin: 0 auto;
			}

			&.wc-forward {
				margin-right: 5px;
			}

			&.wcppec-cart-widget-button {
				clear: both;
			}
		}
	}

	.site-header & {
		display: none;
		position: absolute;
		right: 3px;
		width: 280px;
		transform: translateY(8px);
		background: #fff;
		z-index: 9;
		box-shadow: 0 0 3px rgba(0,0,0,.1);
		@include font-size(.8);
		padding-left: 15px;
		padding-right: 15px;

		&:before {
			content: "";
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #fff;
			top: -6px;
			right: 10px;
		}
	}
}

/*--------------------------------------------------------------
# Login / Account
--------------------------------------------------------------*/
.menu-item.login {

	a {
		text-transform: none;
	}

	a:before {
		@include icon-content("\e913");
		background: $color__text-main;
		margin-right: 5px;
		color: #fff;
		width: 20px;
		height: 20px;
		line-height: 20px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		font-size: 12px;
	}
}