@import 'top-header';
@import 'desktop/logo-left';
//@import 'desktop/logo-center';

.site-header {
	@include font-size(.9);
	background: $color__background-header;
	width: 100%;
	z-index: 999;
	box-shadow: 0 0 3px #00000033;
	position: relative;
	
	.wrap {
		display: grid;
		grid-column-gap: 10px;
		grid-template-columns: auto 40px;
	}
}

.site-branding {
	line-height: normal;
	margin: 10px 0;

	a,
	a:visited {
		color: $color__text-main;
		text-decoration: none;
	}

	.site-title,
	.site-description {
		margin: 0;
	}

	.site-description {
		color: $color__background-dark;
	}

	img {
		display: block;
		height: $size__logo-height-mobile;
		width: auto;
		margin: 0;
	}

	@media screen and (min-width: breakpoint('desktop-nav')) {

		.site-title {
			@include font-size(1.2);
		}

		img {
			height: $size__logo-height-desktop;
		}
    }
}