#masthead {

	@media screen and (min-width: breakpoint('desktop-nav')) {
		text-align: center;

		.wrap {
			display: block;
		}

		div#main-navigation {
			padding-right: 0;
		}

		#site-navigation {
			display: block;

			li {

				&.cta-item {
					height: 43px !important;
				}

				a {
					display: block;
				}
			}
		}

		#primary-menu {
			justify-content: center;
			align-items: center;

			> li:not(.cta-item) > a {
				height: 55px;
				line-height: 55px;
			}
		}

		.site-branding {
			padding: 15px;
			margin: 0;
			border-bottom: 1px solid #ddd;

			img {
				margin: 0 auto;
			}
		}
	}
}
