.wp-block-svbk-grid {
    $grid-gutter: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    > * {
        margin-left: 0;
        margin-right: 0;
    }

    &.has-align-left {
        justify-content: flex-start;
    }

    &.has-align-right {
        justify-content: flex-end;
    }

    &.has-equal-cell-height {
        align-items: initial;
    }

    @for $i from 1 through 3 {
        gap: $grid-gutter;

        &.has-#{$i}-columns-mobile {

            @media screen and (max-width: breakpoint('tablet-landscape')) {
            
                > * {
                    width: calc((100% - (#{$grid-gutter} * (#{$i} - 1)))/#{$i});
                }
            }
        }
    }

    @media screen and (min-width: breakpoint('tablet-portrait')) and (max-width: breakpoint('tablet-landscape')) {
        
        &.has-1-columns-mobile {
            
            > * {
                width: 49%;
            }
        }
    }

    @for $i from 2 through 6 {

        &.has-#{$i}-columns {

            @media screen and (min-width: breakpoint('tablet-landscape')) {
                $grid-gutter: 20px;
                gap: $grid-gutter;

                > * {
                    width: calc((100% - (#{$grid-gutter} * (#{$i} - 1)))/#{$i});
                }
            }
        }
    }
}